# Variáveis de ambiente

# Porta do servidor
PORT=3000

# URL de conexão com o MongoDB
# Para desenvolvimento local, use: mongodb://localhost:27017/orders_db
# Para MongoDB Atlas, use sua string de conexão
MONGODB_URI=mongodb://localhost:27017/orders_db

# Ambiente de execução (development, production)
NODE_ENV=development
